:root {

    --small-margin: 12px;
    --big-margin: 54px;
    --great-margin: 250px;

    font-family: 'Roboto';
}

/* removing the filters set int the profile.css file and altering the standard 100% width */

.no-filter img{
    width: var(--great-margin); 
    border-radius: 100%;
}

/* setting the layout for the main section of the info page (3 sections) */

main{
    display:flex;
    justify-content: space-evenly;
}

/* setting the sections internal layout, meanwhile defining its width as a third part of the total screen width */

main section{
    width:30%;
    margin-top: 15px;
    display:flex;
    flex-flow: column;
    align-items: flex-start;
}

/* giving a little bit of margin to the section top */

main section h2{
    margin-top: 5px;
}

/* giving identation to the items on the sections as well as setting the font size bigger*/

.item{
    margin-top:10px;
    margin-left: 15px;

    font-size: 24px;
}

/* making them occupy all available space on their sections */

.item, .item input, .item textarea{
    width:100%;
}
/* making the labels "float" */

.item label{
    position: relative;
    top:15px;
}

/* erasing the borders from the inputs, to look more material-like */

.item input{
    border-style:none;
    border-bottom-style: solid;
    margin-top:0px;
}

/* adjusting the settings of the textarea */

.item textarea{
    margin-top:20px;
    min-height: 200px;
    resize: vertical;
}

/* giving some identation to the text inside the inputs/textareas */

textarea, input{
    padding-left:5px;

    font-size:32px;
    
}

textarea{
    padding-top:5px;
    position:relative;
    top:20px;
}

/* setting a size to the badge icons */

#badges .item img{
    width:40px;
}

#info .item label{
    top:35px;
}

